.reviews {
  display:flex;
  height: 110vh;
  /* width: 100vw; */
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
}
.reviews .opinions {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 813px; */
  height: 315px;
}

.reviews .opinions .tojeto {
  color: #999966;
  font-family: 'Great Vibes' , cursive;
  font-size: 55px;
  margin:0px;
}
.reviews .opinions .testimonials{
  color: black;
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 600;
  margin:0px;
}
.opinion-part{

  /* width: 900px; */
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.opinion-part .navi-left{
  border: none;
  background-color: #EFEFEF;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  margin-right: 20px;
}
.opinion-part .navi-right{
  border: none;
  background-color: #EFEFEF;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
}
.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment .quotes {
  font-size: 70px;
  margin:0;

}
.comment .author {
  font-size: 15px;
  font-family: "Poppins"
}
.opinion{
  font-size: 25px;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20;
}
