.specialities {
  height: 100vh;
  display:flex;
  flex-direction:row;
  justify-content: center;
  background-color:  white;
;
}
.specialities section{
  width: 50vw;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.specialities .specialities-images {
  position: relative;
}

.specialities .specialities-images img  {
  position:absolute;
  width: 700px;
  height: 700px;
  margin-left: 250px;
}



.specialities .specialities-text {
  justify-content: center;
  margin-left: 400px;
  margin-top: -50px;
}
.specialities .specialities-text h6{
  color: red;
  font-family: 'Great Vibes' , cursive;
  font-size:  85px;
  margin-top: -130px;
  font-weight: 300;
}
.specialities .specialities-text h3{
  color: orange;
  font-family: 'Great Vibes', cursive;
  font-size:  75px;
  margin-top:-200px;
  letter-spacing: 3px;
  margin-bottom: 5px;

}

.specialities .specialities-text h2 {
  width: 300px;
  font-weight: 300;
  margin-top: -5px;
  margin-bottom: 10px;
}
.specialities .specialities-text .blabla{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 650px;
  height: 300px;
  margin: 0;
}
.specialities .specialities-text .blabla p{
  display: flex;
  justify-content: flex-start;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  padding-right: 30px;
  line-height: 30px;
}
.specialities .specialities-text a {
  text-decoration: none;
  border-left: 5px solid black;
  padding: 15px;
  color: black;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 500;
  margin-top: 50px;
}
